<body>
    <section class="Wat">
        <header>
            <h2 class="a1">Wat is Costa Rica?</h2>
        </header>
        <p>Costa Rica is een land in Centraal-Amerika.
            In 2010 stond Costa-Rica als 62ste geranschikt in de index van de menselijke ontwikkeling en in 2019 op de 12de plaats van het World Happiness Report,
            op dat vlak is het dus 1 van de toplanden in Latijns-Amerika. De hoofdstad is San José, een stad met iets meer dan 300 duizend inwoners.
            Ook is het land rijk aan verschillende vulkanen, 16 om precies te zijn, waarvan er 3 actief zijn (Arenal, Rincón de la Vieja en de Turrialba).</p>
    </section>
</body>
