body{
    padding-right: 10px;
    padding-left: 10px;
}

.a1{
    padding-top: 20px;
}
.Wat{
    text-align: center;
}
.p2{
    float: left;
}
.policia{
    float: right;
    width: 20%;
    height: 20;
    padding-right: 50px;
}