<body>
    <section class="Wat">
        <header>
            <h2 class="a1">Wat is Costa Rica?</h2>
        </header>
        <p>Costa Rica is een land in Centraal-Amerika.
            In 2010 stond Costa-Rica als 62ste geranschikt in de index van de menselijke ontwikkeling en in 2019 op de 12de plaats van het World Happiness Report,
            op dat vlak is het dus 1 van de toplanden in Latijns-Amerika. De hoofdstad is San José, een stad met iets meer dan 300 duizend inwoners.
            Ook is het land rijk aan verschillende vulkanen, 16 om precies te zijn, waarvan er 3 actief zijn (Arenal, Rincón de la Vieja en de Turrialba).
            Voor de rest is het land overwegend vlak, maar in het midden loopt een bergketen die deel uitmaakt van de Centraal-Amerikaanse cordilleras.
            Het hoogste punt is de Cerro Chirripó (3810 meter). 25% van het land behoort tot beschermde reservaten of nationale parken.
            Ten westen van Costa Rica ligt de Grote Oceaan en aan de oostzijde vinden we de Caribische zee. </p>
            <br>
            <br>
            <br>
    </section>
    <section class="presi">
        <img src="assets/policia.jpg" class="policia">
        <h3 class="a2">Hoe veilig is Costa Rica?</h3>
        <p class="p2">Omdat Costa Rica in Centraal-Amerika ligt, zijn veel mensen niet gerust om naar het prachtige land te reizen.
            Ondanks de vooroordelen, is Costa Rica een relatief veilig land, je moet gewoon op een paar dingen letten. <br>
            Laat geen voorwerpen zichtbaar achter in de auto, wees voorzichtig als mensen spontaan diensten aanbieden,
            Logeer alleen in hotels van lagere categorie op aanbeveling van mensen die je vertrouwdt en doe niet aan<br> wildkamperen.
            Draag geen waardevolle juwelen en neem geen grote sommen geld mee.
            Bied bij gewapende overvallen geen weerstand want overvallers aarzelen niet om hun wapen te gebruiken en vermijd in het donker<br>
            over straat in de stad of op het strand te lopen. Qua natuurlijke gevaren moet je vooral letten dat je niet dat je tijdens het regenseizoen,
            dat van mei tot december loopt, niet gaat zwemmen in de rivieren aangezien het <br> waterniveau plots enkele meters kan stijgen.
            Aardschokken en aardbevingen komen geregeld voor, maar dankzij de antiseismische bouwtechnieken komen ernstige gevolgen zelden voor.
        </p>
    </section>
</body>
