<link rel="stylesheet" href="top-bar.component.css">
<body>
    <nav>
        <ul id="mainMenu">
            <li><a href="#">Welkom</a></li>
            <li><a href="#">Ga naar</a>
              <ul>
                <li><a href="#">San José</a></li>
                <li><a href="#">Arenal vulkaan</a></li>
                <li><a href="#">Monteverde</a></li>
              </ul>
            </li>
            <li><a href="#">Video</a></li>
            <li><a href="#">Over ons</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</body>
