<link rel="stylesheet" href="top-bar.component.css">
<body>
    <nav>
        <ul>
            
            <li><a href="#">Welkom</a></li>
            <li class="ganaar">
                <a href="javascript:void(0)" class="dropbtn">Ga naar</a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </li>
            <li><a href="#">Video</a></li>
            <li><a href="#">Over ons</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</body>
